.listItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 500;
    
}

button {
    font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        border-radius: 0.5rem;
        border: 2px solid;
        cursor: pointer;
        margin: 15px;
        padding: 8px 8px;
        opacity: 0.7;
    }

        button:hover {
            background-color: rgb(234, 247, 243);
            color: rgb(2, 61, 25);
            border-color: rgb(2, 61, 25);
            opacity: 1;

        }

        .h2 {
            margin-left: 50px;
            margin-top: 50px;
            
        }